@import "tailwindcss";


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* LP 빙글빙글 속도 조절 */
@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 커스텀 spin 애니메이션 클래스 */
.animate-spin-slow {
  animation: spin-slow 5s linear infinite;
}

/* skeleton */
.skeleton-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.skeleton-item {
  width: 100%;
  height: 200px;
  background-color: #f0f0f0;
  animation: loading 1.5s infinite linear;
}

@keyframes loading {
  0% {
    background-color: #f0f0f0;
  }
  50% {
    background-color: #e0e0e0;
  }
  100% {
    background-color: #f0f0f0;
  }
}
